In [1]:
import pandas as pd

# 1. 데이터 로드

In [6]:
# 실습 환경은 인코딩 없이 진행 됨
train = pd.read_csv('data/X_train.csv', encoding='euc-kr') 
target = pd.read_csv('data/y_train.csv')
test = pd.read_csv('data/X_test.csv', encoding='euc-kr')

print(train.shape, target.shape, test.shape)

df = train.merge(target, on='cust_id', how='left')
print(df.shape)

(3500, 10) (3500, 2) (2482, 10)
(3500, 11)

# 2. 전처리 & Feature Engineering

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3500 entries, 0 to 3499
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     1205 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
 10  gender   3500 non-null   int64
dtypes: float64(3), int64(6), object(2)
memory usage: 328.1+ KB
None

In [12]:
# 실습 환경에서 desc 짤리기 때문에 출력 추가 코딩 필요
desc = df.describe(include="all") 

for col in df.columns:
    print(col,'\n', desc[col])
    pass

cust_id
 count     3500.000000
unique            NaN
top               NaN
freq              NaN
mean      1749.500000
std       1010.507298
min          0.000000
25%        874.750000
50%       1749.500000
75%       2624.250000
max       3499.000000
Name: cust_id, dtype: float64
총구매액
 count     3.500000e+03
unique             NaN
top                NaN
freq               NaN
mean      9.191925e+07
std       1.635065e+08
min      -5.242152e+07
25%       4.747050e+06
50%       2.822270e+07
75%       1.065079e+08
max       2.323180e+09
Name: 총구매액, dtype: float64
최대구매액
 count     3.500000e+03
unique             NaN
top                NaN
freq               NaN
mean      1.966424e+07
std       3.199235e+07
min      -2.992000e+06
25%       2.875000e+06
50%       9.837000e+06
75%       2.296250e+07
max       7.066290e+08
Name: 최대구매액, dtype: float64
환불금액
 count     1.205000e+03
unique             NaN
top                NaN
freq               NaN
mean      2.407822e+07
std       4.746453e+07
min       5.600000e+03
25%       2.259000e+06
50%       7.392000e+06
75%       2.412000e+07
max       5.637530e+08
Name: 환불금액, dtype: float64
주구매상품
 count     3500
unique      42
top         기타
freq       595
mean       NaN
std        NaN
min        NaN
25%        NaN
50%        NaN
75%        NaN
max        NaN
Name: 주구매상품, dtype: object
주구매지점
 count     3500
unique      24
top       본  점
freq      1077
mean       NaN
std        NaN
min        NaN
25%        NaN
50%        NaN
75%        NaN
max        NaN
Name: 주구매지점, dtype: object
내점일수
 count     3500.000000
unique            NaN
top               NaN
freq              NaN
mean        19.253714
std         27.174942
min          1.000000
25%          2.000000
50%          8.000000
75%         25.000000
max        285.000000
Name: 내점일수, dtype: float64
내점당구매건수
 count     3500.000000
unique            NaN
top               NaN
freq              NaN
mean         2.834963
std          1.912368
min          1.000000
25%          1.666667
50%          2.333333
75%          3.375000
max         22.083333
Name: 내점당구매건수, dtype: float64
주말방문비율
 count     3500.000000
unique            NaN
top               NaN
freq              NaN
mean         0.307246
std          0.289752
min          0.000000
25%          0.027291
50%          0.256410
75%          0.448980
max          1.000000
Name: 주말방문비율, dtype: float64
구매주기
 count     3500.000000
unique            NaN
top               NaN
freq              NaN
mean        20.958286
std         24.748682
min          0.000000
25%          4.000000
50%         13.000000
75%         28.000000
max        166.000000
Name: 구매주기, dtype: float64
gender
 count     3500.000000
unique            NaN
top               NaN
freq              NaN
mean         0.376000
std          0.484449
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: gender, dtype: float64

In [17]:
# null - 환불금액
print(sum(df['환불금액'].isna())/df.shape[0])
# 65%가 null min=
print(df['환불금액'].min())
# min 5600.0 이므로, 0으로 대체
train['환불금액'] = train['환불금액'].fillna(0)
test['환불금액'] = test['환불금액'].fillna(0)
df['환불금액'] = df['환불금액'].fillna(0)
print(df.isna().sum().sum())

0.0
0.0
0

In [18]:
# object - 주구매상품, 주구매지점 
print(df['주구매상품'].value_counts())
print(df['주구매지점'].value_counts())

# label encoding

기타        595
가공식품      546
농산물       339
화장품       264
시티웨어      213
디자이너      193
수산품       153
캐주얼       101
명품        100
섬유잡화       98
골프         82
스포츠        69
일용잡화       64
육류         57
모피/피혁      57
남성 캐주얼     55
구두         54
건강식품       47
차/커피       44
피혁잡화       40
아동         40
축산가공       35
주방용품       32
셔츠         30
젓갈/반찬      29
주방가전       26
트래디셔널      23
남성정장       22
생활잡화       15
주류         14
가구         10
커리어         9
대형가전        8
란제리/내의      8
식기          7
액세서리        5
침구/수예       4
보석          3
통신/컴퓨터      3
악기          2
남성 트랜디      2
소형가전        2
Name: 주구매상품, dtype: int64
본  점     1077
잠실점       474
분당점       436
부산본점      245
영등포점      241
일산점       198
강남점       145
광주점       114
노원점        90
청량리점       86
대전점        70
미아점        69
부평점        57
동래점        49
관악점        46
인천점        34
안양점        29
포항점        11
대구점         7
센텀시티점       6
울산점         6
전주점         5
창원점         4
상인점         1
Name: 주구매지점, dtype: int64

In [ ]:
# corr

In [ ]:
# one-hot

# 3. 분류 알고리즘 사용

# 4. 초매개변수 최적화

# 5. 모형 앙상블

# 6. 예측

# 7. 제출

In [ ]:
# 답안 제출 예시
# 수험번호.csv 생성
# DataFrame.to_csv("0000.csv", index=False)